exports:
  oauth2ProxyDefaults:
    oauth2Proxy:
      proxyServiceName: oauth2-proxy
      proxyPort: 80
      proxyScheme: "http"
      proxyNamespace: ""
  traefikDefaults:
    authIngress:
      traefikSettings:
        # proxy: (injected)
        middlewarePrefixOverride: ""
        routeOAuth2Prefix: true
        authFwdMiddleware:
          create: true
        errorMiddleware:
          enabled: true
          create: true
          inProxyNamespace: false
          settings:
            status:
              - "401"
            query: "/oauth2/sign_in?rd={url}"
            # 'service' defaults to the oauth2 proxy
        authHeaderMiddleware:
          enabled: true
          create: true
          inProxyNamespace: false
          headers:
            stsSeconds: 315360000
            browserXssFilter: true
            contentTypeNosniff: true
            forceSTSHeader: true
            stsIncludeSubdomains: true
            stsPreload: true
            frameDeny: true
